#stock-view-table{
    width:95%;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}
.div-table-header{
    padding:0px;
    width:100%;
    font-size:0;
    text-align: center;
    font-weight: bold;
    min-width:900px;
}
.div-table-header-data{
    border-style:solid;
    border-width: 1px;
    border-color: #C0C0C0;
    font-size:16px;
    display:inline-block;
}
.div-table-row{
    text-align: center;
    font-size:0px;
    min-width:900px;
    padding:0px;
}
#div-table-header-name{
    width:15%;
}
.div-table-name{
    width:15%;
    display:inline-block;
    border-style:solid;
    border-width: 1px;
    border-color: #C0C0C0;
    font-size:16px;
}
#div-table-header-type{
    width:15%;
}
.div-table-edit-button{
    font-size:15px;
    padding:1px;
    padding-left:11px;
    padding-right:10px;
}
.div-table-type{
    width:15%;
    display:inline-block;
    border-style:solid;
    border-width: 1px;
    border-color: #C0C0C0;
    height:26px;
    padding:0px;
    font-size:16px;
}
#div-table-header-edit{
    width:5%;
}
.div-table-edit{
    width:5%;
    display:inline-block;
    border-style:solid;
    border-width: 1px;
    border-color: #C0C0C0;
}
#div-table-header-kind{
    width:15%;
}
.div-table-kind{
    width:15%;
    display:inline-block;
    border-style:solid;
    border-width: 1px;
    border-color: #C0C0C0;
    height:26px;
    padding:0px;
    font-size:16px;
}
#div-table-header-serial{
    width:25%;
}
.div-table-serial{
    width:25%;
    display:inline-block;
    border-style:solid;
    border-width: 1px;
    border-color: #C0C0C0;
    height:26px;
    padding:0px;
    font-size:16px;
}
#div-table-header-label{
    width:25%;
}
.div-table-label{
    width:25%;
    display:inline-block;
    border-style:solid;
    border-width: 1px;
    border-color: #C0C0C0;
    height:26px;
    padding:0px;
    font-size:16px;
}
.div-button{
    display:inline-block;
}

