<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cui.phs.mapper.CaseMapper">
    <resultMap id="RM_CaseVo" type="com.cui.phs.entity.CaseEntity">
        <result column="id" property="id"/>
        <result column="disease_id" property="disease_id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="image_list" property="image_list"/>
        <result column="video" property="video"/>
    </resultMap>
    <select id = "getCaseByDiseaseId"  resultMap="RM_CaseVo">
        select *
        from phs_case
        where disease_id=#{disease_id}
    </select>
</mapper>