<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cui.phs.mapper.UserMapper">
    <resultMap id="RM_UserVo" type="com.cui.phs.entity.UserEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>

    <select id = "getAllUser" resultMap="RM_UserVo">
        select *
        from phs_user
    </select>

</mapper>