<!DOCTYPE html>
<html lang="zh" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<link rel="stylesheet" type="text/css" href="css/content.css" />
	<style>
		*{
			font-family: "Microsoft YaHei Light";
		}
		.morph-button > button{
			font-size: 1.5em;
			font-weight: normal;
		}
		.content-style-form button{

			font-weight: normal;
		}
	</style>
</head>
<body>
<div class="contianer">
	<header class="codrops-header">
		<h1>虚拟宠物医院学习系统</h1>
		<p>Virtual Pet Hospital Learning System</p>
	</header>
	<section>
		<p>在使用本系统之前，请登录</p>
		<div >
			<div >
				<div>
					<div class="content-style-form">
						<form id="loginForm" style="text-align: center">
							<p><label>Username</label><input name="userName" id="login-username" type="text" /></p>
							<p><label>Password</label><input name="password" id="login-password" type="password" /></p>
							<p style="font-size:30px"><a id="button-login" onclick="login()">登录</a></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- /container -->
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/classie.js"></script>
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/uiMorphingButton_fixed.js"></script>
<script type="text/javascript" src="js/login.js"></script>
</body>
</html>